[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "kza"]
	path = kza
	url = https://github.com/cran/kza
	shallow = true
	registered = true
